* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagina {
  width: 510px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.form-imc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.campo label {
  color: #505050;
}

.campo input {
  padding: 14px 26px;
  border-radius: 6px;
  outline: none;
  border: 1px solid #e85b81;
  width: 100%;
}

#btnCalcular {
  background-color: #e85b81;
  border-radius: 6px;
  padding: 13px;
  font-weight: bold;
  color: #fff;
  border: none;
  cursor: pointer;
}

#btnCalcular:hover {
  background-color: #e84671;
}

.resultado {
  color: #ababab;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resultado .aviso {
  margin: auto;
  width: 245px;
}

.resultado div {
  display: flex;
  color: #505050;
}

.resultado div:first-child {
  border-bottom: 1px solid #e85b81;
  padding-bottom: 10px;
  font-weight: 700;
}

.resultado div:last-child {
  padding-top: 10px;
}

.tabela-imc {
  display: flex;
  width: 510px;
  border: 1px solid #f4f4f4;
}

.coluna {
  width: 50%;
}

.coluna p {
  padding: 12px;
  width: 100%;
  color: #505050;
}

.coluna p:nth-child(odd) {
  background-color: #f4f4f4;
}

.coluna .titulo {
  color: #e85b81;
  font-weight: 700;
}

@media (max-width: 550px) {
  html {
    font-size: 88%;
  }

  .pagina,
  .tabela-imc {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 395px) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 380px) {
  html {
    font-size: 70%;
  }
}
