*{font-family: "Inter", serif;
margin:0x;
text-decoration: none;}

body{background-color: #0C0231;}

/*CABECALHO HOME EXPERIENCIAS...*/
.cab {display: flex;
flex-direction: row;
justify-content: space-around;
position:absolute;
top: 30px;
width: 600px;
color: white;}

 .exp, .projetos, .home{
    color:white;
    font-size: 15px;}

.dinn{ color:#7458D9;
font-size:15px;}

/*FIM DO CABECALHO*/

    /*figura geometrica*/
.poligon{
    z-index:101;
    height: 600px;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;}

.linha{display:flex;
position:absolute;
top:150px;
left:930px;
}

/*IMAGENS DO PRIMEIRO CONTEUDO DO SITE*/
.img1 {width: 350px;
height: 480px;
border-radius: 30px;
display: flex;
position: absolute;
top: 50px;
right: 0;
z-index: 102;}

.profile{
    width: 300px;
    display: flex;
    position: absolute;
    z-index: 102;
    top:150px;
    right:200px;
}
/*PARTE DA APRESENTAÇÃO*/
.intro{z-index: 101;
    color:white;
    display: block;
    position:absolute;
    top:  180px;    
    left: 100px;
}

/*BOTOES DA APRESENTAÇÃO*/
.insta  {width: 35px;}



.triangulo1{
    display: flex;
    position: absolute;
    top: 700px;
    left: 0px;
}

.triangulo2{
    display: flex;
    position: absolute;
    top: 890px;
    left: 250px;
    z-index:104;
}

.textcont2{color:white;}

.textcont2M{display: flex;
    flex-direction:row;
    font-size: 30px;
    position: absolute;
    top: 700px;
    left: 750px;}

.textcont2T{display: flex;
    
    font-size: 15px;
    position: absolute;
    top: 790px;
    left: 500px;}
    


.navB{
    display: flex;
    flex-wrap: nowrap; /* Garante que os itens fiquem na mesma linha */
    padding-top: 80px;
    padding-bottom: 70px;
    padding-right: 700px;
    padding-left: 700px;
    background-color: #7458D9;
    color: white;
    position: absolute;
    top: 1400px; 
    left: 0;
    justify-content: center;
    align-items: center;}

.ctt {
    
    background: #7b52ff;       
    color: #ffffff;            
    padding: 10px 22px;     
    border: none;             
    border-radius: 8px;       
    font-size: 16px;           
    font-weight: 600;          
    cursor: pointer;              
    transition: 0.3s ease;        
    box-shadow: 0 4px 10px rgba(0,0,0,0.25); 
}

.ctt {
    background: #9d75ff;
    transform: translateY(-3px);  
}

.ctt {
    transform: translateY(-1px);  
    background: #6846d6;
}
